if ( "<%= flash[:success] %>".length > 0 ){
  newSession("<%= @user.username if @user %>");
  flashSuccess("<%= flash[:success] %>");
}
else if ("<%=flash[:error]%>".length > 0){
  flashError("<%= flash[:error] %>");
}


function newSession(){
  deactivateModal();
  swapToLogoutButton();
  swapUserCalButton();
  initWatchlistTriggers();
}

function swapToLogoutButton(){
  $('#navbar-collapse-1 ul').empty().append('<li><a rel="nofollow" data-method="delete" class="logged-in" href="/sessions/%23%3CActionDispatch::Request::Session:0x007fba83002ba8%3E">Logout</a></li>');
}

function swapUserCalButton(){
  $('div#user-cal').empty().append('<a class="theater-tab" data-remote="true" href="/users/<%= @user.id.to_s if @user %>"><%= @user.username if @user %>\'s Watchlist</a>');
  $('div#user-cal').toggleClass('btn-warning btn-success');
  $('div#user-cal').attr('data-user', 'true');
}

function deactivateModal(){
  $('div.modal').modal('hide');
}