  <div class="container">
  <div class="row page-header">
    <h1>Most Popular Screenings</h1>
  </div>
</div>
<!-- buzz-box -->
<div class="row buzz-box  clearfix">

  <div class="col-xs-12">
    <ul class="thumbnails clearfix">
      <%@top_three_films_arr.each do |film_obj|%>
      <li class="col-xs-4 col-sm-3 col-md-2">
        <div class="thumbnail clearfix">
          <a href="#">
            <%= image_tag "posters/poster-#{film_obj.id}" %>
            <div class="overlay">
              <h2><%=film_obj.title%></h2>
            </div>
          </a>
        </div>
      </li>
      <%end%>

      <li class="hidden-xs col-sm-3 col-md-2 ">
        <div class="thumbnail">
          <a href="#"><%= image_tag "posters/poster-#{@fourth_top_film.id}" %>
            <div class="overlay">
              <h2><%=@fourth_top_film.title%></h2>
            </div>
          </a>
        </div>
      </li>

      <% @fifth_and_sixth_top_films_arr.each do |film_obj| %>
      <li class="hidden-xs hidden-sm col-md-2 ">
        <div class="thumbnail">
          <a href="#"><%= image_tag "posters/poster-#{film_obj.id}" %>
            <div class="overlay">
              <h2><%=film_obj.title%></h2>
            </div>
          </a>
        </div>
      </li>

      <%end%>
    </ul>
  </div>
</div>
<!-- /buzz-box -->

<!-- Calendar -->
<%= render partial: "/calendar", locals: {screenings: @screenings, date_filler: @date_filler} %>