<% films_today(@screenings, @date_filler).each do |film| %>

<div class='film-listing-container' id=<%="film-#{film.id}"%>>
  <span class='film-title hasTooltip' data-value='<%=film.id%>'><%= film.title %></span>

  <div class="tooltipContent add-film" data-value='<%=film.id%>'>
  </div><br>

    <% screenings_today(film, @date_filler).each do |screening| %>
    <a href="<%= screening.ticketing_url %>">
      <span class='showtime'><%= screening.time %></span>
    </a>
    <% end %>

    <br>
    <a href="<%= screenings_today(film, @date_filler).first.theater.website_url %>">
      <span class='theater-name'><%= screenings_today(film, @date_filler).first.theater.name %></span>
    </a>
  </div>

  <% end %>