<!DOCTYPE html>
<html>
  <head>
    <title>MovieBoard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= render partial: "layouts/alerts" %>
    <%= render partial: "layouts/modals" %>
    <%= render 'layouts/nav' %>

    <%= yield %>
  </body>
</html>